<!doctype html>
<html lang="en">
<head>
  <title><%= @title || "Songs By Sinatra" %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles.css">
  <link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" media="screen, projection" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
<header>
  <h1>Songs By Sinatra</h1>
  <%= erb :nav %>
</header>
<section>
  <%= yield %>
</section>
</body>
</html>